@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-black: #111111;
	--color-neutral-50: #F3F3F3;
	--color-neutral-100: #E7E7E7;
	--color-neutral-200: #CFCFCF;
	--color-neutral-500: #888888;
	--color-neutral-900: #292929;
	--color-white: #FFFFFF;

	--text-*: initial;
	--text-sm: 0.8rem;
	--text-base: 1rem;
	--text-lg: 1.414rem;
	--text-xl: 2rem;
	--text-2xl: 2.827rem;
	--text-3xl: 4rem;
	--text-4xl: 5.653rem;
	--text-5xl: 8rem;
}

@utility display-0 {
	line-height: 105%;
	letter-spacing: -2%;
	@apply text-5xl font-semibold;
}

@utility display-1 {
	line-height: 105%;
	letter-spacing: -2%;
	@apply text-4xl font-semibold;
}

@utility display-2 {
	@apply font-semibold text-3xl leading-tight;
}

@utility display-3 {
	@apply font-semibold text-2xl leading-tight;
}

@utility display-4 {
	@apply font-semibold text-xl leading-snug;
}

@utility container {
	@apply max-w-screen-2xl mx-auto px-4 md:px-8 xl:px-12;
}

@utility button {
	@apply rounded-full bg-black text-white py-2 px-4 uppercase font-medium items-center gap-4
}

@layer base {
	* {
		@apply text-[18px] xl:text-[19px] 2xl:text-[20px];
		line-height: 1.5;
	}

	body {
		overflow-x: hidden;
		color: var(--color-black);
	}

	hr {
		@apply border-neutral-100 border-1
	}
}

.payload-richtext {
	p:not(:first-child) {
		margin-top: 0.75rem;
		/* Adds space only between paragraphs */
	}

	a {
		text-decoration: underline;
		color: blue
	}

	ul {
		list-style-type: disc;
		list-style-position: inside;
	}

	h1 {
		@apply display-4
	}
}
